	<div class="page-header row">
		<div class="col-md-8 apartment">
			<h1><%= @apartment.name %><small> <%= @apartment.address %></small></h1>
			<% if verified? %>
				<p> Confirmed by <%= @apartment.landlord_name %> on <%= @apartment.match_date.strftime("%m/%d/%Y") %> </p>
			<% else %>
					<%= link_to 'Share with Landlord', apartment_share_apartment_path(@apartment) %> |
					<%= link_to 'Edit Info/Add Photos', edit_apartment_path(@apartment) %> |
					<%= link_to 'Delete Apartment', @apartment, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
			<%= link_to 'View All Photos, Full Size', apartment_photos_path(@apartment) %>	
		</div>
		<div class="col-md-4 right-side">
			<% if verified? %>
				<p> This apartment has been successfully confirmed! </p>
			<% else %>
				<div class="input-group">
					<%= form_for @apartment, :url => apartment_confirm_code_path(@apartment), :html => { :method => 'put' }  do |f| %>
					  <%= f.text_field :confirm_code, placeholder: 'Verification Code' %>
					  <%= submit_tag "Submit", :class => "btn btn-default" %>
				</div>
					<% end %>		
			<% end %>
		</div>
	</div>
	<div class="album">
		<table>
		<% @photos.each_slice(4) do |photos| %>
			<tr>
				<% photos.each do |p|%>
		  		<td><%= link_to image_tag(p.image_url(:thumb)), apartment_photo_path(@apartment, p) %></td>
					<% end %>
			</tr>
		<% end %>
		</table>
		<%= will_paginate @photos %>
	</div>


