	<div class="page-header row">
		<div class="col-md-8 apartment">
			<h1><%= @apartment.name %><small> <%= @apartment.address %></small></h1>
			<% if @apartment.code_match == true %>
				<p> Confirmed by LANDLORDNAME at MATCHDATE </p>
				<button type="button" class="btn btn-default" >Share with landlord...</button>
			<% else %>
				<% if @user.id == @apartment.user_id %>
					<%= link_to 'Share with Landlord' %> |
					<%= link_to 'Edit Info/Add Photos', edit_apartment_path(@apartment) %> 
				<% end%>
			<% end %>
		</div>
		<div class="col-md-4">
			<% if @apartment.code_match != true %>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Verification Code">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Submit</button>
			      </span>
			   </div>
			<% end %>
		</div>
	</div>
	<div class="album">
		<table>
		<% @photos.each_slice(4) do |photos| %>
			<tr>
				<% photos.each do |p|%>
		  		<td><%= link_to image_tag(p.image_url(:thumb)), p %></td>
					<% end %>
			</tr>
		<% end %>
		</table>
		<%= will_paginate @photos %>
	</div>
