<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<body> 
    <!-- Fixed navbar -->
    <div class="navbar navbar-default  navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="/"><%= image_tag "logo.png" %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/apartments">Apartments</a></li>
            <li><a href="/apartments/new">New Apartment</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
	        <ul class="navbar-right">
	          <% if user_signed_in? %>
	              <li> <%= link_to current_user.email, edit_user_registration_path %> | <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </li>
	          <% else %>
	              <li> <%= link_to "Register", new_user_registration_path %> | <%= link_to "Log In", new_user_session_path %> </li>
	          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	  <div class="jumbotron-nav">
	  </div>
		<div class = "wrap">	
	    <div class="container">
			  <% if notice %>
			       <div class="temp alert alert-info alert-dismissable">
			         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			         <%= notice %>
			       </div>
			     <% end %>

			     <% if alert %>
			       <div class="temp alert alert-warning alert-dismissable">
			         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			         <%= alert %>
			       </div>
			     <% end %>

				<%= yield %>
			</div>
		</div>
		<div id="footerwrap">
			<div class="container">
				<%= image_tag "logo.png" %>
				<p>
				Created by Escarre<br/>
				</p>
			</div>
		</div>
	
</body>
</html>

